################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/OpenGLviaFramebuffer/bin/Debug
/OpenGLviaFramebuffer/obj/Debug
/OpenGLviaWinformsHost/obj/Debug
